.fv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fv-img {
  width: 300px;
  height: 300px;
  margin: 10px;
}
h1 {
  color: #4656a1;
  font-family: 'Roboto';
  font-weight: bold;
}

.fv-btn {
  background-color: #4656a1;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-align: center;
  width: 145px;
  height: 45px;
  border-radius: 8px;
  border-width: 0px;
}
